@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Main */
:root {
	--font-family: "Inter", sans-serif;
	/* --font-family: "Gilroy", Arial, Helvetica, sans-serif; */
	/* --font-family: "Poppins", Arial, Helvetica, sans-serif; */
}
:root{--color-red:#ec2d3f;--color-medium-red:#cc2c32;--color-dark-red:#c31829;--color-green:#28a745;--color-dark-green:#207d36;--color-black:#212529;--color-gray:#6c757d;}
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6{padding: 0; margin: 0;}
*{ margin: 0; padding: 0; } 
.clear{clear:both;}
.clearfix::after{ content: ""; clear: both; display: table;}
html{
	scroll-behavior: smooth;
	scroll-padding-top: 155px;
   }
body{font-family: var(--font-family);font-size: 16px;line-height:1.5;height: 100%;}
a{ text-decoration:none;}
a:focus{outline:none;color:#3153CE;text-decoration:none;}
/* ul{ list-style:none; } */
/* p{margin-bottom:8px;} */
.slick-slide img{display: inline-block !important;}
a[href^="tel"] { color: inherit; text-decoration: none; }
.text-align-center{ text-align: center !important; }
.menu_top{display: none;}
.fixwidth{width:97%;margin:auto;}
.fixpage{max-width:1600px;margin:auto;}
.maincontent{width:1366px;margin:auto;max-width: 1366px;overflow: hidden;}
.maincontent img{max-width: 100%;}
a{text-decoration: none !important;}
button:focus{outline: none;}
.wrap{text-align: center;}
#sub_img_detail{margin-top:10px;}
body::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
body::-webkit-scrollbar{width: 8px; background-color: #F5F5F5;}
body::-webkit-scrollbar-thumb{ background-color: #999;}

#wrapper{}

img{max-width:100%;height:auto !important; }
a,input,textarea{outline:none;padding:0px;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
.w-clear:after{display:block;content:"";clear:both;}
.hidden{display:none;}
.none{display:none;}
.hidden-seoh{visibility:hidden;height:0px;margin:0px;overflow:hidden;}
.wrap-content{max-width:1260px;margin:0px auto;padding:0px 0px 40px 0;}
.wrap-home,.wrap-main{
    max-width: 100%;
    padding: 0px;
    background: url(../images/bg_web.png) no-repeat fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
}
.wrap-content{margin:auto;}

/* General */
.title-main{margin:1.5rem 0 ;text-align:center;}
.title-main span{text-transform:uppercase;color:#333;font-size:28px;}
.time-main{
    margin-bottom: 0.75rem;
    color: #61676B;
    font-size: 12px;
}
.time-main i{vertical-align:top;margin:3px 7px 0px 0px;}
.time-main span{vertical-align:top;display:inline-block;}
.social{list-style:none;padding:0px;margin:0px;}
.social li{display:inline-block;vertical-align:top;}
.social li:last-child{margin-right:0px;}
.control-carousel{position:absolute;top:calc(50% - 30px/2);margin-bottom:0px;width:30px;height:30px;text-align:center;line-height:30px;z-index:2;color:#000;cursor:pointer;}
/* .control-carousel:hover{background-color:var(--color-red);border-color:var(--color-red);color:#fff;} */
.prev-carousel{left:0px;}
.next-carousel{right:0px;}

.pagetitle{ border-bottom: 1px solid #ddd; text-transform: uppercase; font-weight: bold; font-size: 22px; margin-bottom: 25px; }
/* Header */

/*==========SEARCH=============*/
.frm_timkiem{position:relative;}
.frm_timkiem button{
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    width: 40px;
    height: 100%;
}
.frm_timkiem button i{
    font-weight: 300;
    font-size: 20px;
}
.frm_timkiem .nut_tim{
    transform: rotate(45deg);
    font-weight: 300;
    font-size: 20px;
}
.frm_timkiem .input{
    text-indent: 40px;
    outline: none;
    transition: all ease 0.5s;
    padding: 12px 0px;
    padding-right: 20px;
    width: 100%;
    /* z-index: 99; */
    color: #333;
    background: #fff;
    font-size: 15px;
    border: 1px solid #CDCDCD;
    /* min-height: 45px; */
    border-radius: 8px;
}
.frm_timkiem .input::-webkit-input-placeholder{color:#000;}
.frm_timkiem .input::-moz-placeholder{color:#000;}
.frm_timkiem .input:-ms-input-placeholder{color:#000;}
.frm_timkiem .input:-moz-placeholder{color:#000;} 


/* Menu */
/*=====menu======*/
.header-top{ padding: 0px 0; }
.header{ padding: 15px 0;background: #EBF5FF;}
.header_logo{ position: relative;}
.header_logo img{ transition: all 0.3s; max-width:60px;}

.header-height{ height: fit-content; width: 100%;}
/* #menu_top{ height: fit-content;position: relative; z-index: 99;box-shadow: 0px 1px 2px 0px rgba(78, 81, 83, 0.10);background: #fff;} */
.menu { position: relative; display: flex; justify-content: space-between;align-items: center;padding: 10px 0;}


/* Slideshow */
.catagory-list__fix{ display: none; position:absolute; left:0px; top: 100%; width:100%; overflow-y: scroll; background: #fff; max-height: 394px;}
.catagory-list__fix::-webkit-scrollbar { width: 0px; height: 5px;}
.catagory-list__fix::-webkit-scrollbar-button {  width: 0px; height: 0px; }
.catagory-list__fix::-webkit-scrollbar-track {  background-color: #c3c3c3;}
.catagory-list__fix::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.catagory-list__fix::-webkit-scrollbar-thumb { height: 50px; background-color: #c3c3c3; border-radius: 3px;}
.catagory-list__fix::-webkit-scrollbar-corner { background-color: #ffffff;}
.catagory-list__fix::-webkit-resizer { background-color: #666;}
.catagory-list__fix>ul>li{ position: relative; padding: 0 10px;}
.catagory-list__fix>ul>li>a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; height: 40px; line-height: 39px; color: #191919; font-size: 15px; border-bottom: 1px dashed #BFBFBF;}
 

.menu ul{
    list-style: none;padding:0; margin:0;
}
.all_menu_mobile{display: none;}
.menu ul.menu_cap_cha{margin:0; position: relative; width: fit-content;display: none;}
.menu ul.menu_cap_cha li{transition:all ease-in-out 0.2s; position: relative; }
.menu ul.menu_cap_cha li.first-li{ position:initial !important;}
.menu ul.menu_cap_cha li.menulicha:last-child{padding-right:0;float:right; }
.menu ul.menu_cap_cha li.menulicha>a{
    color: #000;
    display: block;
    cursor: pointer;
    padding: 0px 22px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
	height: 50px;
	line-height: 50px;
} 
.menu ul.menu_cap_cha li.menulicha:hover,.menu ul.menu_cap_cha li.active{  }
.none_boder_r{ border-right: 0 !important; }
.no_bg{ background-image:none !important;}

/*---menu cấp con---*/
.menu_cap_con{
	position: absolute;
    display: none;
    transition: all ease 0.5s;
    left: 0px;
    top: 100%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgb(78 81 83 / 25%);
    border-radius: 0;
    z-index: 99;
}
.menu_cap_con li{ padding: 0 !important; }
.menu_cap_con li a{
    display: flex;
    width: 100%;
    min-width: 220px;
    font-size: 15px;
    float: none !important;
    transition: all ease 0.2s;
    line-height: initial !important;
    padding: 12px 15px 12px 15px;
    position: relative;
    margin: 0px;
    color: #000;
    align-items: center;
    justify-content: space-between;
}
.menu_cap_con li:last-child a{ border-bottom: none;}
/* .fixed .menu_cap_con li, .tail_menu .menu_cap_con li{background:#d90000 !important;} */
/* .menu ul.menu_cap_cha li.menulicha>a:hover{color: #f00;} */
.menu_cap_con li:hover>a{color:#1663ba !important}
.menu_cap_cha li:hover .menu_cap_con{display:block;}
.menu_cap_con li:hover .menu_cap_2{ display:block; }
 
.menu_cap_2{ position: absolute; left: 100%; top: 0; display:none;background: #fff;box-shadow: 0px 8px 16px 0px rgb(78 81 83 / 25%);}
.menu ul.menu_cap_cha li.menulicha.spkhac .menu_cap_2{ position: absolute; right: 100%; left: auto; top: 0;}
/* .menu_cap_2 li a {
    font-weight: 300;
    color: #4b4b4b;
} */
.menu_cap_2 li:hover .menu_cap_3{ display:block; }
.menu_cap_3{ position: absolute; left: 100%; top: 0; display:none; background: #f00;}

.menu_cap_3 li:hover .menu_cap_4{ display:block;}
.menu_cap_4{ position: absolute; left: 100%; top: 0; display:none;}

#search button{position: absolute; top: 7px; right: 10px;border:none; width:13px; height:19px; background:none;outline:none;}

.fixed{position: fixed !important;width:100%;max-width:100%;top: 0px !important;z-index: 999;left: 0;}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}

 


/* Slider*/
.wrap_slider{ background:#fff;}
.item_slider{position: relative;}
.item_slider img{
	position: relative;
    width: 100%;
    /* max-height: 440px; */
    object-fit: inherit;
}

#slider .owl-item.active .item_slider .slider_info, #slider_mb .owl-item.active .item_slider .slider_info {opacity: 1; -webkit-animation: fadeInRight 1s ease backwards; -moz-animation: fadeInRight 1s ease backwards; -o-animation: fadeInRight 1s ease backwards; -ms-animation: fadeInRight 1s ease backwards; -webkit-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s;}
#slider .owl-item.active .owl-lazy, #slider_mb .owl-item.active .owl-lazy{opacity: 1}
@keyframes fadeInRight {from {opacity: 0;transform: translate3d(0%, -20%, 0);} to {opacity: 1;transform: none;}}
.fadeInRight {animation-name: fadeInRight;}
.thumb{ background-position: center center;background-repeat: no-repeat;background-size: cover; display: block; position: relative;/*padding-bottom: calc(439/850 * 100%);*/}
.slider_info__name{color: #fff; font-size: 65px;  padding-bottom: 10px; text-align: center;}
.button-more{display: inline-block; vertical-align: top; color: #010101; position: relative; z-index: 2; background: #fff; border: none !important;padding: 12px 30px; font-size: 14px; letter-spacing: 1px; margin-left: 4px; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.button-more:hover {color: #fff;background: #1a9edc;}
.btn-main:after, .btn-main:before {content: "";position: absolute;bottom: -4px;left: -4px;top: 0;right: 0;border: solid 1px #1a9edc;z-index: -1;}
.btn-main:after {right: -4px;top: -4px;bottom: 0;left: 0;z-index: -2;}


/* Slideshow */
.catagory-list{ width:270px; overflow-y: scroll; background: #fff; max-height: 394px;}
.catagory-list::-webkit-scrollbar { width: 0px; height: 5px;}
.catagory-list::-webkit-scrollbar-button {  width: 0px; height: 0px; }
.catagory-list::-webkit-scrollbar-track {  background-color: #c3c3c3;}
.catagory-list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.catagory-list::-webkit-scrollbar-thumb { height: 50px; background-color: #c3c3c3; border-radius: 3px;}
.catagory-list::-webkit-scrollbar-corner { background-color: #ffffff;}
.catagory-list::-webkit-resizer { background-color: #666;}
.catagory-list>ul>li{ padding: 0 10px; position: relative;}
.catagory-list>ul>li>a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; height: 40px; line-height: 39px; border-bottom: 1px dashed #BFBFBF; color: #191919; font-size: 15px;  }
 

.catagory-list>ul>li>ul,.catagory-list__fix>ul>li>ul{ display: none; }
.catagory-list>ul>li>ul>li>a,.catagory-list__fix>ul>li>ul>li>a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 28px; position: relative; height: 38px; line-height: 38px; color: #191919; font-size: 15px; margin-right: 20px;}
.catagory-list>ul>li>ul>li:hover>a,.catagory-list__fix>ul>li>ul>li:hover>a{ color: #f00; }


.slideshow{position:relative;}
.slideshow a{display:block;cursor:pointer;}
.slideshow a img{}
.slideshow:hover .control-slideshow{opacity:0.3;}
.slideshow .control-slideshow:hover{opacity:0.8;}
.control-slideshow{
	/* opacity: 0; */
	position: absolute;
	z-index: 2;
	top: calc(50% - 50px/2);
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	cursor: pointer;
	margin: 0px;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid rgba(75, 75, 75, 0.1);
}
.control-slideshow i{color:#4B4B4B;font-weight: 500;}
.prev-slideshow{left:20px;padding-right:3px;}
.next-slideshow{right:20px;padding-left:3px;}

.row-flex-xs { display: -ms-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -25px;}


/* Breadcrumb */
.all_bread{
	/* height: 100%; */
    flex-direction: column;
	justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
.bread_title{
	font-weight: 700;
    max-width: 720px;
    position: relative;
    text-transform: capitalize;
    font-size: 30px;
    color: #3153CE;
}
#background-banner{height: 250px;}
#background-banner .fixwidth{height: 100%;}
.breadcrumb{background: transparent; margin-bottom: 0;padding: 0;}
.breadCrumbs {
    margin-bottom: 0px;
    /* height: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before{color: #61676B;content: '>';}
.breadcrumb-item a{color: #61676B; font-size: 13px;}
.breadCrumbs .wrap-content{padding:0.75rem 10px;max-width:1260px;}
.breadCrumbs .wrap-content .breadcrumb{padding:0;margin-bottom:0;background-color:transparent;border-radius:0;}
.breadCrumbs .wrap-content .breadcrumb-item a{color:var(--color-black);}
.breadcrumb-item.active a{color:#3153CE;}

/* kết thúc Breadcrumb */ 

.wrap_gioithieu .fixwidth{padding-top: 30px;}
 
.gt_noidung{ color: #191919; line-height: 1.7; font-size: 15px;}
/* .xemgt:hover{ color: #ff0; } */

.paging_ajax{ text-align: center; margin-top: 20px; }
.paging_ajax a{ 
    color: #3153CE;
    font-size: .875rem;
    border-color: #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 35px;
    margin: 0 5px;
    border-radius: 50%;
 }
.paging_ajax a:hover,.paging_ajax a.current{ background: #3153CE; color: #fff;}

.wrap_product{margin-bottom: 30px;}
.wrap_product{ padding-bottom:50px; }
.wrap_product_index{padding-top:50px;}
.toppd0{ padding-top: 0; }

.loadkhung_product{display: grid;grid-template-columns: repeat(3,1fr); grid-gap:40px;}
.loadkhung_product1{display: grid;grid-template-columns: repeat(5,1fr); grid-gap:20px;}
.loadkhung_product3{display: grid;grid-template-columns: repeat(4,1fr); grid-gap:20px;}

.pagination-home{ margin-top: 30px; margin-bottom: 2%;}  
.pagination { flex-wrap: wrap; }
/*====BOX TIN TUC====*/
.news-item-box{padding:40px 0; background: #f2f2f2;}
.flex-news{ display: flex; flex-wrap: wrap; margin: 0 -15px; }

.main_news{ font-size: 24px;  margin-bottom: 20px;}
 
.wrap_bottom{ padding-top: 25px; padding-bottom: 25px;}

.slider-nav{ margin-bottom: 20px; }
.slick-slide  .item_kh_img{ max-width: 195px; margin: auto; transform: scale(0.6); transition: all 0.5s; border-radius:50%; }
.slick-slide  .item_kh_img img{ border-radius:50%; border-radius: 5px;}
.slick-current .item_kh_img{transform: scale(1);}

.socialpage{ color:#fff; }
.socialpage a{ color:#fff; }
.socialpage .socialpage-name a{ font-size: 16px; color:#fff; }
.socialpage-img{ text-align: center; }
.socialpage-name{ width: calc( 100% - 55px ); padding-left: 15px; }
.socialpage-btn{ background: #e3a90d; color:#fff; display: inline-block; padding: 5px 20px; border-radius:5px; margin-top: 15px; }
.mota_socialpage{ margin-top: 10px; }

/*====BOX FOOTER====*/
.boxfooter_container{ color:#000;background-color: #fff;position: relative;  padding-top: 50px; font-size: 14px;}
.footer_name{font-size: 45px; color:#00cc00; text-align: center; margin-bottom: 20px; padding: 20px; }

.bottom-contact1 iframe{ display: block; width: 100%; height: 500px;}

.validation-newsletter{ display: flex;  }
.validation-newsletter input{ width:calc( 100%  - 40px );padding: 5px 60px 5px 15px; font-style: italic; width: 100%; outline: none; color: #bcc0c4; background-color: #565f66; border: none;}
.validation-newsletter button{height: 40px; width:40px; background-color: #fbcd13; border: none;}

.boxfooter_bottom{padding: 15px 0;color: #61676B;margin-top: 15px;font-size: 15px;}
.boxfooter_bottom .fixwidth {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.boxfooter_bottom .left span:nth-child(1){margin-right: 15px;}

/* Sản Phẩm Detail */

/* Slideshow */
.title-left-detail{ background: #d90000; text-align: center; font-size: 18px; padding: 8px 10px; color: #fff; }
.catagory-list-detail{ width:270px; border: 1px solid #ddd; background: #fff; }
.catagory-list-detail>ul>li{ padding: 0 10px; position: relative;}
.catagory-list-detail>ul>li>a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; height: 40px; line-height: 39px; border-bottom: 1px dashed #BFBFBF; color: #191919; font-size: 15px;}
.catagory-list-detail>ul>li:last-child>a{ border-bottom: none; }
.catagory-list-detail>ul>li>ul{ display: none; }
.catagory-list-detail>ul>li>ul>li>a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 28px; position: relative; height: 38px; line-height: 38px; color: #191919; font-size: 15px;margin-right: 20px;}
.catagory-list-detail>ul>li>ul>li:hover>a{ color: #f00; }


.mota_page_product{ margin-bottom: 20px; padding: 10px 20px; border: 1px solid #ebebeb; }
.mota_page_product .main_news{ margin-bottom: 10px; }
.noidung_page_product{ margin-top: 20px; }

.pro_catagory{ margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.pro_catagory div{width: calc( ( 100% / 6 ) - 6px ); margin: 5px 3px; }
.pro_catagory div a{ display: block; color: #666; line-height: 1.3; border: 1px solid #e1e1e1; border-radius: 2px 2px; padding: 8px 10px; text-align: center; font-size: 13px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.pro_catagory div a:hover { border: 1px solid #ff0000;}

.border-top-0{ border-top: none; }
.muangay1{ display: inline-block; background: #cd0d15; border: 1px solid #cd0d15; color: #fff; padding:6px 8px; width: 100%; max-width: 140px; transition: all 0.4s; text-align: center; font-size: 16px; }
.muangay1:hover{ background: #fff; color: #cd0d15; }

.muangay2{ display: inline-block; background: #f00; border: 1px solid #f00; color: #fff !important; padding:6px 8px; width: 100%; max-width: 140px; transition: all 0.4s; text-align: center; font-size: 16px; cursor:pointer; }
.muangay2:hover{ background: #fff;color: #cd0d15 !important; }

.mota_page{ margin-bottom: 20px; }
.noidung_page{ margin-top: 20px; }
.grid-pro-detail {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.left-pro-detail {
    position: relative;
    text-align: center;
    background: white;
    width: 50%;
    max-width: 600px;
    margin: auto;
    margin-left: 0;
}
.right-pro-detail {
    padding: 10px 0;
    border-radius: 6px;
    width: 50%;
}
.gallery-thumb-pro{position:relative;margin-top:15px;}
.owl-thumb-pro{}
.thumb-pro-detail{display:block!important;cursor:pointer;}
.thumb-pro-detail.mz-thumb.mz-thumb-selected{border-color:#cecfd2;}
.thumb-pro-detail img{box-shadow:none!important;filter:brightness(100%)!important;border-bottom:0px!important;padding-bottom:0px!important;}
.title-pro-detail{text-transform:capitalize;font-size:24px;display:block;font-weight:700;color: #3153CE;text-align: center;margin-bottom: 0;}
.social-plugin-pro-detail{margin-bottom:5px;margin-top:0px!important;}

.attr-pro-detail{list-style:none;padding:0px;}
.attr-pro-detail li{ padding: 4px 0; }
.attr-label-pro-detail{margin:0px 5px 0px 0px; display: inline-block;font-size: 15px;}
.attr-content-pro-detail{font-size: 15px;}
.label_ma{
	font-size: 13px;
    color: #535353;
}
.attr-label-pro-detail.d-block{display:block;margin:0px 0px 5px 0px;}
.attr-content-pro-detail{display:inline-block;margin-bottom:0px;}
.price-new-pro-detail{font-weight:700;font-size:17px;color:var(--color-red);}
.price-old-pro-detail{font-weight:500;color:var(--color-gray);text-decoration:line-through;padding-left:10px;}
.color-pro-detail{display:inline-block;vertical-align:top;position:relative;height:30px;margin:0px 0px 3px 0px;padding: 5px 11px !important;border-radius: 4px; border: solid #b1a8a8 1px;}
.size-pro-detail{padding: 5px 11px !important; border: solid #b1a8a8 1px;border-radius: 4px;display:inline-block;position:relative;}
.size-pro-detail.active,.color-pro-detail.active{border-color:#e5101d;color:#e5101d;}
.color-pro-detail.active:before,.size-pro-detail.active:before{content:'';position:absolute;width:100%;height:100%;top:0px;left:0px;bottom:0px;right:0px;margin:auto;z-index:1;background-image:url(../images/check-cart.png);background-repeat:no-repeat;background-position:bottom right;}
.color-pro-detail input[type=radio],.size-pro-detail input[type=radio]{outline:none;position:absolute;cursor:pointer;width:100%;height:100%;-webkit-appearance:none;border:0px;top:0px;left:0px;}
.quantity-pro-detail{width:100%;max-width:110px;line-height:normal;display:flex;align-items:center;justify-content:space-between;text-align:center;}
.quantity-pro-detail button{line-height:25px;padding:0px;width:30px;background: #fff; height:30px;color:#5f5f5f;cursor:pointer;font-size:22px;border:1px solid #cccccc;}
.quantity-pro-detail button.quantity-plus-pro-detail{border-left:0px;}
.quantity-pro-detail button.quantity-minus-pro-detail{border-right:0px;}
.quantity-pro-detail input{height:30px;border:1px solid #cccccc;width:calc(100% - 60px);text-align:center;font-size:14px;padding:5px;}
.cart-pro-detail{margin-bottom:1rem;display:flex;align-items:stretch;justify-content:flex-start;}
.cart-pro-detail a{width:auto;text-align:center;color:#fff;padding:8px 15px;text-transform:uppercase;border-radius:3px;}
.cart-pro-detail a.addnow{margin-right:10px;background:#fd6e1d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));background:-webkit-linear-gradient(top,#f59000,#fd6e1d);background:-moz-linear-gradient(top,#f59000,#fd6e1d);background:-ms-linear-gradient(top,#f59000,#fd6e1d);background:-o-linear-gradient(top,#f59000,#fd6e1d);}
.cart-pro-detail a.buynow{background-color:var(--color-green);}
.cart-pro-detail a.buynow:hover{background-color:var(--color-dark-green);}
.cart-pro-detail a i{vertical-align:top;margin-top:3px;margin-right:8px;}
.tags-pro-detail{margin:1rem 0px 2rem 0px;}
.tags-pro-detail a{float:left;font-size:12px;color:#fff;padding:5px 10px 7px 10px;margin-right:5px;margin-bottom:5px;background-color:var(--color-red);border-radius:3px;}
.tags-pro-detail a:hover{background-color:var(--color-medium-red);}
.tags-pro-detail a i{font-size:10px;float:left;margin:5px 5px 0px 0px;}
.tabs-pro-detail .ul-tabs-pro-detail{padding:0px;list-style:none;margin-bottom:1rem;border-bottom:1px solid #e7e7e7;}
.tabs-pro-detail .ul-tabs-pro-detail li{cursor:pointer;float:left;margin-right:5px;margin-bottom:5px;background:#eee;padding:10px 10px;}
.tabs-pro-detail .ul-tabs-pro-detail li.active{background:#03649a;color:#fafafa;border-radius: 100px;}
.tabs-pro-detail .ul-tabs-pro-detail li:last-child{margin-right:0px;}
.tabs-pro-detail .content-tabs-pro-detail{display:none;}
.tabs-pro-detail .content-tabs-pro-detail.active{display:block;}
.tabs-pro-detail{ margin-top: 20px; }
/* Toc */
.box-readmore{padding:8px 15px;border:1px solid #dedede;margin-bottom:2rem;border-radius:5px;background-color:#fff;}
.box-readmore li ul>li{margin:0;margin-bottom:8px}
.box-readmore li ul>li:before{content:counters(item,".") " "}
.box-readmore ul{list-style-type:none;counter-reset:item;margin-bottom:0px;padding-left:0px!important;margin-top:8px;}
.box-readmore ul li{display:table;counter-increment:item;margin-bottom:5px}
.box-readmore ul li:before{content:counters(item,".") ". ";display:table-cell;padding-right:5px}
.box-readmore ul li a{color:#000;cursor:pointer;font-weight:500;}
.box-readmore ul li a:hover{color:#767676;}

/* Bài viết */
.loadkhung_news { display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 15px;}

.social-plugin{
    display: flex;
    grid-gap: 10px;
	z-index: 1;
}
.share{padding:17px 10px 10px 10px;line-height:normal;border: 1px solid rgba(0,0,0,.1);align-items: center; margin-top:15px;border-radius:5px;display: flex;grid-gap: 10px;}
.share span{display:block;margin-bottom:5px; position: relative;font-weight: 400;font-size: 12px;width: 8%;}
.share svg{
    height: 50%;
    width: 14%;
}

/* Contact */
.top-contact{display:flex;align-items:flex-start;justify-content:space-between;margin-bottom:30px;}
.top-contact .left_contact{width:48%;}

.input-contact{position:relative;margin-bottom:15px;}
.input-contact input,.input-contact textarea{width:100%;padding:0px;outline:none;font-size:14px;}
.input-contact input{text-indent:10px;}
.input-contact textarea{resize:none;height:150px;padding:10px;}
.input-contact .custom-file-label::after{content:attr(title);}
.bottom-contact{position:relative;height:500px;width: 48%;}
.bottom-contact iframe{position:absolute;top:0px;left:0px;width:100%!important;height:100%!important;}

 

/* Phân Trang */
.pagination-home .pagination .page-item{
    margin: 0 5px;
}
.pagination-home .pagination .page-item .page-link{
    color: #3153CE;
    font-size: .875rem;
    border-color: #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.pagination-home .pagination .page-item.active .page-link, .pagination-home .pagination .page-item .page-link:hover, .pagination-home .pagination .page-item .page-link:focus{
    color: #ffffff;
    background-color: #3153CE;
    border-color: #3153CE;
    border-radius: 50%;
}
/* Phân Trang Ajax */
.pagination-ajax{text-align:center; margin-top: 20px;}
.pagination-ajax .pagination{justify-content: center !important;}
.pagination-ajax a{
        color: #3153CE;
    font-size: .875rem;
    border-color: #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.pagination-ajax a.current,.pagination-ajax a:hover{
    color: #ffffff;
    background-color: #3153CE;
    border-color: #3153CE;
    border-radius: 50%;
}

/* Popup custom */
.modal-custom .modal-footer{padding:0.5rem;}
.modal-custom .modal-footer .btn{font-size:14px;background-color: #3153ce; border-color: #3153ce;}
/* Popup */
#popup .modal-body{padding:0px;}

/* Hidden Google Captcha */
.grecaptcha-badge{display:none!important;width:0px!important;height:0px!important;visibility:hidden!important;overflow:hidden;}

/* Hidden Check Grammar Coccoc */
coccocgrammar{display:none;}

/* Scroll Top */
.scrollToTop{
	background-color: hsla(0,0%,100%,.8);
    border: 1px solid #ddd;
    border-radius: 50%;
	width:41px;height:41px;text-align:center;font-weight:bold;color:#444;text-decoration:none;position:fixed;bottom:38%;right:6%;display:none;z-index:10;cursor:pointer;
}
.scrollToTop i{
	color: #000;
    font-weight: 400;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
}

/* Text Hide */
.noidung-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:5;}
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:1;}
.name-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:2;}

/* Transition All */
.transition{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;}

/* Scale IMG */
.scale-img{overflow:hidden;display:block;}
.scale-img img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.scale-img:hover > img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}


.alert-warning {
    color: #000000;
    background-color: #ffffff;
    border-color: #d2d2d2;
}
.alert-warning strong{
    font-weight: 400;
}

div.menu_mobi, div.menu_mobi_add { display: none;}
.menu_mobi_add .menulicha i{ position: absolute; right: 0; top: 0; padding: 12px 16px; }
.header_mobile{display: none;}
.header_left_mobile{display: none;}
.topbanchay_mobile,.menu_cap_cha{display: none !important;}
.content_bottom_mobile,.slideshow_mobile{display: none;}
/* Responsive */

@media (min-width: 992px) {
    #popup-search .modal-lg{
        max-width: 500px;
    }
}
@media(max-width:1024px){
    .all_banner_trolyao_center_top{width: 100%;margin-left: 0;}
    .all_dx_trolyao_center_top{display: none;}
    .all_trolyao_layout_center_top {
        height: auto;
    }
    .header_logo img{max-height: 80px;}
    .danhmuc_menu_prodanhmuc>li{font-size: 16px;}
    .name_danhmuc_trolyao{font-size: 18px;}
    .icon_danhmuc_trolyao{max-width: 25px;}
    .icon_danhmuc_trolyao_tracuu{
        max-width: 20px;
    }
    .danhmuc_menu_prodanhmuc>li::after,.danhmuc_menu_prodanhmuc::after{border-color: #fff;}
    .danhmuc_menu_prodanhmuc>li>a{color: #fff;}
    .danhmuc_trolyao>li>.danhmuc_trolyao_con>ul>li>.danhmuc_menu_prolist>i,.danhmuc_trolyao>li>.danhmuc_trolyao_con>ul>li>.danhmuc_menu_prolist{color: #fff;font-size: 17px;}
    .danhmuc_trolyao_li{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .danhmuc_trolyao>li{
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .danhmuc_trolyao {
        display: flex;
        gap: 10px;
        list-style: none;
        margin-bottom: 0;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .menu_mobi_add .all_noidung_vanban_kiemsoat{color: #fff;}
    .danhmuc_trolyao>li>.danhmuc_trolyao_con{
        width: 100%;
        background: transparent;
        position: relative;
        left: unset;
    }
    .danhmuc_trolyao>li>.danhmuc_trolyao_con>ul{
        background: transparent;
        width: 100%;
        position: relative;
        max-height: unset;
        overflow-Y: unset;
    }
    .trolyao_layout_right{
        flex: 0 0 30%;
        max-width: 30%;
    }
    .trolyao_layout_center{
        width: calc(100% - 30% - 20px);
    }
    .trolyao_layout_left {
        display: none;
    }
    .header-height .fixwidth{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-height {
        height: fit-content;
        width: 100%;
        /* position: absolute; */
        width: 100%;
        background: linear-gradient(90deg, #00479B 0%, #005DCB 53%, #00479B 100%);
        padding: 5px 0;
    }
    .menu_cap_cha,.header_mobile{display: flex !important;}
    
	.menu_mobi_add ul li ul{ width:100%; padding-left: 4%;}
	.menu_mobi_add ul li ul li a{ padding-left: 20px;  }
	.menu_mobi_add ul li ul li ul li a{ padding-left: 30px;  }
	.menu_mobi_add ul li ul li ul li ul li a{ padding-left: 40px;  }
	div.menu_mobi_add{background: #005fcfe8;border-radius: 0 10px 10px 0; display: block; position: fixed; left: -100%; top: 0%; z-index: 9999; color: #080808; overflow: auto; line-height: 1.5; padding: 15px; padding-top: 50px; width: 85%; min-width: 140px; max-width: 440px; transition: 0.5s;}
    div.menu_mobi_active {left: 0; transition: 0.5s;}
    div.menu_mobi_add ul { list-style: none;}
    .icon_menu_mobi{font-size:30px; text-decoration:none; display:block; cursor:pointer; display:block; cursor:pointer; margin-bottom: 0;}
    .icon_menu_mobi i{font-weight: 300;}
    .menu_baophu{background:#000; opacity:0.8; z-index:998; left:0px; top:0px; position:fixed; width:100%; height:100%; display:none;}
    a.home_mobi {color: #fff; text-decoration: none; float: right; font-size: 20px; display: none;}
    .close_menu {position: absolute; top: 5px; right: 7px; font-size: 30px; background: transparent; width: 35px; text-align: center; line-height: 35px; cursor: pointer;border-radius: 50%;}
    .close_menu i{color: #fff;font-weight: 300;}
	div.menu_mobi_add ul .menulicha a{text-decoration: none; color: #fff; display: flex;align-items: center;justify-content: space-between; padding: 12px 40px 12px 10px; font-size: 14px; font-weight: 500; position: relative;text-align: left;}
    div.menu_mobi_add ul .menulicha>a{text-transform: uppercase;width: 100%;}
    div.menu_mobi_add ul .menulicha ul li ul li a{color: #fff;padding-top: 0;}
    /* .menu ul.menu_cap_cha{ display: none !important; } */
    div.menu_mobi { display: block; background: transparent; color: #fff; font-size: 18px; text-decoration: none; cursor: pointer; display: block; border-radius: 6px; width: 35px; height: 30px; line-height: 30px; cursor: pointer; text-align: center;}
    .diachi-top{display: none;}
    span.soluong {font-size: 12px;}

    .loadkhung_product1 { grid-template-columns: repeat(4,1fr); grid-gap: 30px;}
	.loadkhung_product3 { grid-template-columns: repeat(3,1fr); grid-gap: 15px;}
	.all_danhmuc_cat{    grid-template-columns: repeat(4,1fr);}
	.all_spnoibat{grid-template-columns: repeat(3,1fr);}
    .vert .simply-scroll-clip { height:423px !important; }
    .pro_catagory div { width: calc( ( 100% / 5 ) - 6px ); }

    .catagory-list{ display: none; }
    .wrap_slider{ max-width: 100% !important; width: 100%; }
    .slideshow{ padding: 0px; width: 100%; }

    .boxfooter_right, .boxfooter_middle, .boxfooter_middle1, .boxfooter_left { width: 50%; }
	.boxfooter_left,.boxfooter_middle { margin-bottom: 20px;}

    .loadkhung_product { grid-gap: 30px; }
    .wrap_gioithieu{ margin-top: 0; }
}
@media(max-width:1000px){
    
	.loadkhung_product { grid-gap: 30px;}
	.loadkhung_product1{ grid-template-columns: repeat(4,1fr); grid-gap:15px;}
  	.breadCrumbs .wrap-content { padding: 0.75rem 0px; }
  	.toolbar{ display:block; }
  	.scrollToTop { bottom: 38%; }
}
@media(max-width:769px){
    .all_chidan {
        position: unset;
    }
    .all_index_gioithieu_dn .row>.col-md-6{
        height: auto !important;
    }
    .img_linhvat{padding: 10px 0 0 0;}
    .iframe_trungtam_quanly iframe{min-height: 400px;}
    .all_tinnhan{
        max-height: 200px;
    }
    .all_index_gioithieu .row{
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .noidung_index_gioithieu{font-size: 14px;}
    .name_index_gioithieu{font-size: 20px;}
    .mota_index_gioithieu{font-size: 24px;}
    .img_linhvat img{max-height: 250px;}
    .noidung_chidan,.noidung_dieu_luat .note_content{
        left: calc(30% + 150px) !important;
        min-width: 250px;
    }
    .all_trolyao_layout_center_center,.all_trolyao_layout_center_center_scroll{height: auto;}
    .all_trolyao_layout_center_center_scroll_index .tab-content .tab-pane{max-height: max-content;overflow: unset;overflow-x: unset;}
    .all_trolyao_layout{gap: 30px;}
    .trolyao_layout_right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .trolyao_layout_center {
        width: 100%;
    }
	.header_logo img{max-width: 60px;margin-right: 5%;}
	.header_logo_mobile{
        display: block;
        width: 100%;
        text-align: center;
    }
	.social-plugin{display: block;}
	.share{
		flex-direction: column;
		align-items: flex-start;
	}
	.share svg{width: 5%;}
	.share span{width: 100%;}
	.wrap_bottom {
		padding-bottom: 0;
	}
	
	.loadkhung_product3 { grid-template-columns: repeat(2,1fr); grid-gap: 15px;}
	.loadkhung_product1 { grid-template-columns: repeat(2,1fr); grid-gap: 15px;}
	.loadkhung_news { grid-template-columns: repeat(1,1fr); grid-gap: 30px;}
	.loadkhung_product { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 30px;}
	
}
@media(max-width:767px){

}
@media(max-width:700px){
    
}
@media(max-width:440px){
    .header_logo img {
        max-width: 45px;
    }
	.loadkhung_product,.loadkhung_product1 {  grid-gap: 30px; }
    .noidung_chidan,.noidung_dieu_luat .note_content {
        left: calc(10% + 150px) !important;
        min-width: 270px;
    }
}
@media(max-width:369px){
    .noidung_chidan, .noidung_dieu_luat .note_content {
        left: calc(10% + 90px) !important;
        min-width: 230px;
    }
	.cart-pro-detail{flex-wrap:wrap;}
	.cart-pro-detail a{width:100%;text-align:center;margin:0px!important;font-size:12px;}
	.cart-pro-detail a:first-child{margin-bottom:5px!important;}
	.cart-pro-detail a i{display:none;}
}